*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header{
    display: flex;
    background-color: green;
    text-align: center;
    border-bottom: 1px solid black;
    height: 80px;
}

header h1{
    margin: auto;
}

main{
    display: flex;
    height: calc( 100vh - 80px);
    background-color: #121212;
    font-size: 40px;
}

.infos{
    width: 500px;
    margin: auto;
}

.info-wrapper{
    display: flex;
    justify-content: space-between;
}

.label{
    font-weight: bold;
}
